<ion-header >
  <ion-toolbar>
    <ion-title>
     <b>MYMAGAZINES</b>
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>NEW H1-B VISA RULES</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
       <p>
        <img src="assets/visa.jpg"alt="visa"  >
        <b> Why are the H1B Rules Being Changed?</b>
       <br>
       The Trump administration’s announcement should probably not be a surprise. Since the COVID-19 pandemic hit, Trump has been arguing H1B visas take away jobs from American workers who lost their jobs during the pandemic. 

        These new rules are really just an extension of Trump’s previous executive order suspending new work-visas and blocking visa holders outside of the U.S. from entering the U.S. until the end of 2020. 
        <br>
        <br>
        <b>What are the Changes Being Made to the H1B Rules?</b>
        <br>         
        There are a few changes being made to the H1B rules. Below we’ll give you a summary of the changes. If you want more specific detail or you want to read the exact text of the new regulations, you can take a look here.
        <br>
        <br>
        <b>H1B Specialty Occupation Definition?</b>
        <br>
        Firstly, the change to H1B rules will be changing the definition of what an H1B “Speciality Occupation” is. According to the Department of Homeland Security (DHS), is to align the definition with the requirements set by Congress. 
        
        The change emphasizes the requirement to have a bachelor’s or higher degree specifically related to the Speciality Occupation the H1B visa holder is applying for. H1B employers will also have to show the position they will be hiring in is directly related to the education degree. 
        <br>
        <br>
        Employer-Employee Relationship Requirements
        The DHS is also bringing back requirements asking for contracts, work orders, etc. to prove an employer-employee relationship with the H1B visa applicant. The DHS wants to use the conventional “master-servant relationship.” This has been explained by the Supreme Court as “the hiring party has the right to control for the job at hand (whatever it is like product building or any task)”.
        
        The DHS will be looking at the facts of each scenario holistically. The employer petitioning for the H1B visa must essentially control and evaluate the work done by the H1B visa holder. They must also hire, pay, provide equipment for work, and claim them as an employee for tax purposes. Finally, the delivered product has to be related to the H1B employer’s usual line of work. 
        
        Evidence to Prove H1B Specialty Occupation Work
        With this part, the DHS is making it clear a genuine (bona fide) specialty occupation work must exist for the H1B visa holder. They will even review the details of the H1B job duties to make sure it meets the requirements of the specialty occupation. 
        
        If the H1B visa holder works at a third-party worksite, the DHS will require additional evidence to prove this relationship. They may require the following documentation:
        
        Statement of Work
        Supplier Agreements
        Master Service Agreement and related work orders
        Technical documents related to Specialty work, for example, market research, reports, brochures, or milestone tables. 
        Any other legally binding agreements.
        H1B Validity of 1 year for Third-Party Placements
        If you file an H1B petition for a third-party worksite, there will be a one-year maximum validity for the H1B petition. If you end up working in the same role or on the same contract for more than one year, you can file a new Labor Condition Application (LCA) or use the old approved 3 years H1B LCA for any extensions. This will incur more filing costs for some petitioners, but in the long run, it will reduce fraud and non-compliance. 
        <img src="assets/whitehouse2.jpg"alt="whitehouse"  >
        According to the DHS, giving a 3-year approval for third-party worksite increases the chances of fraud, as the USCIS can’t monitor these contracts properly. If they place a limit of one year, it will reduce fraud as it will force the application to be reviewed for compliance again. This review will include a visit and other verifications. 
        
        Explanation for H1B Approvals
        Suppose the USCIS approves a shorter duration for the H1B visa than what was applied for (for example, the petition is for 3 years but the USCIS only approves 1 year). In that case, the USCIS will be required to provide reasons. 

        New Site Visits Rules, Refusal to Cooperate
        There will be a new set of rules that apply to site visits, inspections evaluations, and verifications. The DHS can elect to do inspections physically on-site, electronically, or over the phone. These verifications and site visits can be done before the H1B visa is approved or thereafter. 
        
        The new rules also include on-site visits to the H1B employer’s facilities to interview officials and other employees and review the employer’s records. Reviewing the records is to ensure compliance with immigration law. The DHS will be allowed to visit any site, including headquarters or the location the H1B petitioner is working at. 
        
        If the petitioner does not cooperate or the DHS cannot verify facts, the USCIS can deny the H1B petition. In such circumstances, it can even revoke an already approved H1B visa. 
        
        Why Weren’t the H1B Rule Changed through the Rule Making Process?
        Usually, when new rules are being made, there is a 9-Step Rule Making regulatory process (with full public notice periods and time for comments) that have to be followed. 
        <br>
        <br>
        <b>According to the USCIS, it didn’t follow this process due to</b>
        <ol>
        <li>The seriousness of the situation with COVID-19</li>
        <li>The large number of H1B workers that find themself in the U.S. currently</li>
        <li> The rising unemployment rate in the U.S</li>
        <li>exceptionally high unemployment rate in the information sector where most H1B 
          visa holders are employed.</li>
      </ol>
        <b>Conclusion</b>
        <br>
        The change to H1B rules will no doubt have an enormous impact on H1B petitioners. As with most of Trump’s other orders, lawsuits can be expected to follow. However, until the legalities of the change to H1B rules are tested in court, they will take effect and be fully enforceable. 
        
        Make sure you understand how the change to H1B rules will affect your H1B visa petition. It’s always best to be as prepared as possible.
      
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>IPL Knock Out Match Between SRHvsRCB</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
       <img src="assets/ipl2.jpg">
       <b>IPL 2020 Playoffs, SRH vs RCB Live Cricket Score: De Villiers 
       takes charge after Holder gets Kohli,
        Padikkal</b>
      </ion-card-content>
     </ion-card>

     <ion-card>
      <ion-card-header>
        <ion-card-title>VACCINE KEPT IN FROZEN FORM</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <img src="assets/corona.jpg">
       <b> COVAXIN | All you need to know about Bharat Biotech's covid vaccine
        </b>
      </ion-card-content>
     </ion-card>











</ion-content>
